@model StockScreener.Models.StockPurchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockPurchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoughtAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoughtAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SharesQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SharesQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
