@model StockScreener.Models.StockPurchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StockPurchase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BoughtAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoughtAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockIndex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockIndex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SharesQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SharesQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_15bca"></div>
    
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        var elements = document.getElementsByClassName("col-sm-10");

        new TradingView.widget(
            {
                "width": 980,
                "height": 610,
                "symbol": elements[1].innerText,
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_15bca"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
