@model IEnumerable<StockScreener.Models.StockPurchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Your portfolio</h1>

<p>
    <a asp-action="Create">Add purchase</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BoughtAt) ($)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharesQuantity)
            </th>
            <th>
                Win/Loss (in $)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BoughtAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharesQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinLoss)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
